* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 600px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(250, 212, 212);
  font-size: 1.5rem;
  margin: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(243, 82, 82);
  border: 1px solid black;
  border-radius: 5px;
}

.inputButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addToCart {
  position: absolute;
  top: 20px;
  right: 10px;
  border: 1px solid black;
  background: rgb(243, 82, 82);
  color: white;
  cursor: pointer;
  margin: 0 auto;
  min-width: 150px;
}

p {
  text-align: center;
}

.btn {
  width: 100px;
  padding: 5px 10px;
  border: 1px solid black;
  font-size: 1rem;
}

.btn:active {
  background-color: red;
}

#addLi {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.cartLi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  visibility: visible;
  padding: 2px;
  background-color: brown;
  border-radius: 5px;
  border: 1px solid white;
}

.listItem {
  margin: 10px 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

p {
  margin: 20px auto;
}

.remove {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px 5px;
  margin-left: 10px;
}

#specialBtn {
  width: 200px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
}

#textIn {
  width: 200px;
  margin-bottom: 20px;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1.2rem;
}

::placeholder {
  letter-spacing: 1px;
  font-size: 17px;
}

#textIn:hover {
  background-color: rgb(243, 82, 82);
  color: white;
  border: 1px solid white;
}

.hide-empty-cart {
  display: none;
}

button {
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(243, 82, 82);
  color: white;
  border: 1px solid white;
}
